%h1 Listing units

%table
  %tr
    %th Code
    %th Name
    %th Create user
    %th Update user
    %th
    %th
    %th

  - @units.each do |unit|
    %tr
      %td= unit.code
      %td= unit.name
      %td= unit.create_user_id
      %td= unit.update_user_id
      %td= link_to 'Show', unit
      %td= link_to 'Edit', edit_unit_path(unit)
      %td= link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Unit', new_unit_path
